fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.7.4
pydantic-settings==2.3.1
python-dotenv==1.0.1
httpx==0.27.0
sse-starlette==2.1.0
llama-index-core==0.10.49
llama-index-vector-stores-postgres==0.1.14
llama-index-embeddings-huggingface==0.2.2
llama-index-llms-ollama==0.2.2
llama-index-llms-groq==0.1.4
sudachipy==0.6.8
sudachidict-core==20240409
sentence-transformers==3.0.1
asyncpg==0.29.0
redis[hiredis]==5.0.7
supabase==2.5.1
pykakasi==2.2.1